<section class="products">
  <aside>
    <form id="filters-form" action="/" method="get"></form>
    <fieldset>
      <legend>Szűrés</legend>
      <div class="filter">
        <label for="category">Kategória</label>
        <select name="category_name" id=" category">
          {{#each categories}}
          <option>{{this.category_name}}</option>
          {{/each}}
        </select>
      </div>
      <button type=" submit">Mehet!</button>
    </fieldset>
    </form>
  </aside>
  <main>
    <nav>
      <ul class="filters">
        <li class="filter"><a href="/order/low-price">Alacsony-Magas ár</a></li>
        <li class="filter"><a href="/order/price">Magas-Alacsony ár</a></li>
      </ul>
    </nav>
    <div class="products-list">
      {{# each products}}
      <form class="product">
        <div class="labels">
        </div>
        <img src="/img/products/{{this.img_url}}" alt="{{this.name}}" class="product-img">
        <a href="/product-detail/{{this.product_url}}">
          <p class="name">{{this.name}}</p>
        </a>
        <div class="price">
          <p class="price-value">{{this.price}} Ft</p>
        </div>
        <a href="/add-to-cart/{{this.id}}">
          <div class="white-button">Vásárlás</div>
        </a>
        <br>
      </form>
      {{/each}}
    </div>
  </main>
</section>