<section class="products">
  <aside>
  </aside>
  <main>

<div class="cart">
      <h1>Kosár</h1>
      <div class="cart-items">
        {{#each products}}
        <div class="cart-item">
          <div >
            <img src="/img/products/{{this.img_url}}" class="cart-item-img" alt="{{this.name}}"></div>
          <div class="cart-item-info">
            <p class="cart-item-name">{{this.name}}</p>
            <p class="cart-item-price">{{this.price}} Ft</p>
            <p class="cart-item-quantity">Mennyiség: {{this.quantity}}</p>
          </div>
          <div class="cart-item-remove">
            <a href="/remove-from-cart/{{this.id}}"><img src="/img/icons/ic_remove.webp" alt="Törlés"></a>
          </div>
        </div>
        {{/each}}
    </div>
    <div class="cart-total">
      <p class="cart-total-price">Összesen: {{cart-total}} Ft</p><br>
      <a href="/address"><button class="cart-checkout-button">Tovább</button></a>
    </div>
  </main>
</section>

<script>
</script>     