<section class="products">
  <aside>
  </aside>
  <main>
    <nav>
      <ul class="filters">
        <li class="filter"><a href="/order/rating">Popular products</a></li>
        <li class="filter"><a href="/order/low-price">Low price</a></li>
        <li class="filter"><a href="/order/price">High price</a></li>
      </ul>
      <div class="display">
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_grid.png" alt="Display Grid">
        </a>
        <div class="vertical-line"></div>
        <a href="#">
          <img src="/img/icons/ic_view_list.png" alt="Display Line">
        </a>
      </div>
    </nav>
<div class="products-list">
      {{# each products}}
        <form class="product">
        <br>
          <img src="/img/products/{{this.img_url}}" alt="{{this.name}}" class="product-img">
          <p class="name">{{this.name}}</p>

          <div class="price">
            <p class="price-value">$ {{this.price}}</p>
            </a>
          </div>
          <div>{{this.quantity}}</div>
        </form>
      {{/each}}
    </div>
  </main>
</section>

<script>
</script>