<script src="./payment.js"></script>
<div class="container">
  <table class="checkout-table">
    <h1>Az ön által megadott adatok:</h1>
    <tr>
      <td class="checkout-label">Név:</td>
      <td class="checkout-value">{{data.name}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Ország:</td>
      <td class="checkout-value">{{data.country}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Cím:</td>
      <td class="checkout-value">{{data.address}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Város:</td>
      <td class="checkout-value">{{data.city}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Megye:</td>
      <td class="checkout-value">{{data.state}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Irányítószám:</td>
      <td class="checkout-value">{{data.zip-code}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Telefonszám:</td>
      <td class="checkout-value">{{data.number}}</td>
    </tr>
  </table>
</div>
<div class="cart-items">
  {{#each products}}
  <div class="cart-item">
    <div>
      <img src="/img/products/{{this.img_url}}" class="cart-item-img" alt="{{this.name}}">
    </div>
    <div class="cart-item-info">
      <p class="cart-item-name">{{this.name}}</p>
      <p class="cart-item-price">{{this.price}} Ft</p>
      <p class="cart-item-quantity">Mennyiség: {{this.quantity}}</p>
    </div>
  </div>
  {{/each}}
</div>
<div class="display-flex">
  <form method="get" action="/saveorder">
    <div class="checkout-box">
      <div class="total-checkout">
        <p class="total-price">Összesen: {{total}}Ft</p>
      </div>
      <div class="payment-methods">
        <label>
          <input type="hidden" name="address_id" value="{{data.id}}" class="input-sign">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign">
          <input type="radio" name="payment" value="credit-card">
          <span class="payment-method">
            <span class="payment-icon">
              <i class="far fa-credit-card"></i>
            </span>
            <span class="payment-name">Előreutalás bankkártyával</span>
          </span>
        </label>
        <label class="payment-method-option">
          <input type="radio" name="payment" value="cash">
          <span class="payment-method">
            <span class="payment-icon">
              <i class="fas fa-money-bill-wave"></i>
            </span>
            <span class="payment-name">Fizetés átvételkor (+400Ft)</span>
          </span>
        </label>
      </div>
    </div>
    <button class="btn-primary" id="payment-Btn" disabled>Rendelés leadása</button>
  </form>
</div>
</form>

<script>

  // Get all the radio buttons on the page
  const radios = document.querySelectorAll('input[type="radio"]');
  // Get the submit button
  const submitBtn = document.getElementById('payment-Btn');



  // Loop through all the radio buttons
  radios.forEach(radio => {
    // Add a change event listener to each radio button
    radio.addEventListener('change', () => {
      console.log("changed")

      // When a radio button is changed, enable the submit button
      submitBtn.disabled = false;

      if (radio.value === "cash") {
        submitBtn.innerHTML = "Rendelés leadása (+400Ft)";
        isCash = true;
      } else {
        submitBtn.innerHTML = "Rendelés leadása";
        isCash = false;
      }
    });

  });
</script>