<script src="./payment.js"></script>
<div class="container">
  <table class="checkout-table">
    <h1>Az ön által megadott adatok:</h1>
    <tr>
      <td class="checkout-label">Név:</td>
      <td class="checkout-value">{{data.name}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Ország:</td>
      <td class="checkout-value">{{data.country}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Cím:</td>
      <td class="checkout-value">{{data.address}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Város:</td>
      <td class="checkout-value">{{data.city}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Megye:</td>
      <td class="checkout-value">{{data.state}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Irányítószám:</td>
      <td class="checkout-value">{{data.zip-code}}</td>
    </tr>
    <tr>
      <td class="checkout-label">Telefonszám:</td>
      <td class="checkout-value">{{data.number}}</td>
    </tr>
  </table>
</div>
<div class="cart-items">
  {{#each products}}
  <div class="cart-item">
    <div>
      <img src="/img/products/{{this.img_url}}" class="cart-item-img" alt="{{this.name}}">
    </div>
    <div class="cart-item-info">
      <p class="cart-item-name">{{this.name}}</p>
      <p class="cart-item-price">{{this.price}} Ft</p>
      <p class="cart-item-quantity">Mennyiség: {{this.quantity}}</p>
    </div>
  </div>
  {{/each}}
</div>
<div class="display-flex">
  <div class="checkout-box">
    <div class="total-checkout">
      <p class="total-price">Összesen: {{total}} Ft</p>
    </div>
    <form method="POST" action="/checkout/success">
      <div class="payment-methods">
        <label>
          <input type="hidden" name="_csrf" value="{{csrfToken}}" class="input-sign">
          <input type="radio" name="payment" value="credit-card">
          <span class="payment-method">
            <span class="payment-icon">
              <i class="far fa-credit-card"></i>
            </span>
            <span class="payment-name">Előreutalás bankkártyával</span>
          </span>
        </label>
        <label class="payment-method-option">
          <input type="radio" name="payment" value="cash">
          <span class="payment-method">
            <span class="payment-icon">
              <i class="fas fa-money-bill-wave"></i>
            </span>
            <span class="payment-name">Fizetés átvételkor (+400Ft)</span>
          </span>
        </label>
        <button class="btn-primary" id="payment-Btn">Rendelés leadása</button>
      </div>
  </div>
</div>
</form>